<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Sage Explorer</title>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
    </script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <h2>The command: {{ sage_command }} has the output: </h2>
    {{ object_output }}
    {% if object_methods_output %}
      <h2>Explore more with the following methods:</h2>
      {{ object_methods_output }}
    {% endif %}
    <h2>Help</h2>
    {{ help_output }}
  </body>
</html>
