{# Basic functions that apply to general objects #}

{% macro display_link(link, text) -%}
    <a href="{{link|safe}}">{{text|safe}}</a>
{%- endmacro %}

{% macro display_inline_list_of_links(item_list) -%}
    [
    {%- for item, link in item_link_pairs %}
        {{ display_link(item['link'], item['name']) }},
    {%- endfor %}
    ]
{%- endmacro %}

{% macro display_list_of_links(item_list) -%}
    <ul>
    {%- for item in item_list %}
        <li>{{ display_link(item['link'], item['data']) }}
    {%- endfor %}
    </ul>
{%- endmacro %}

{% macro display_from_template(data, template) %}
    {% set template_file = template + ".html" %}
    {% import template_file as displayer %}
    {{ displayer.display(data) }}
{%- endmacro %}
