{% import 'template_base.html' as base %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    {% block head %}
    <title>Sage Explorer</title>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
    </script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {% endblock head %}
  </head>
  <body>
  {% block body %}
    {% block command %}
      <h2>Command:</h2>
      <pre>{{ sage_command }}</pre>
    {% endblock command %}

    {% block output %}
    <h2>Output:</h2>
    <center>
      {% block object %}
        <p>
        {{ base.display_from_template(object_data['data'], object_data['style']) }}
        </p>
      {% endblock object %}
      {% block invariants %}
        {% for invariant in invariants %}
          <p>{{ base.display_from_template(invariant['data'], invariant['style']) }}</p>
        {% endfor %}
      {% endblock invariants %}
    </center>
    {% endblock output %}

    {#
    {% block methods %}
      {% if object_methods_list_of_links %}
        <h2>Explore more with the following methods:</h2>
        {{ base.display_inline_list_of_links(object_methods_list_of_links)
      {% endif %}
    {% endblock methods %}
    #}

    {% block help %}
      <h2>Help</h2>
      {{ object_help|safe }}
    {% endblock help %}
  {% endblock body %}
  </body>
</html>
