{% import 'template_base.html' as base %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Sage Explorer</title>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
    </script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    

    <!--<h2>Command:</h2>
    <pre>{{ sage_command }}</pre>
    <h2>Output:</h2>
    <center>{{ object_output }}</center>
    {% if object_methods_output %}
      <h2>Explore more with the following methods:</h2>
      {{ object_methods_output }}
    {% endif %}
    <h2>Help</h2>
    {{ help_output }}!-->
  </body>
</html>
